# Example Application Environment Configuration
# Copy this file to .env and update the values

# App
APP_BASE_URL=http://localhost:8000
APP_MODE=development
CORS_CREDENTIALS=false
CORS_MAX_AGE=300
CORS_ORIGINS=[*]
ENABLE_API_DOCS=true
JWT_ALGORITHM=HS256
JWT_SECRET_KEY=_THIS_IS_DEFAULT_JWT_SECRET_KEY_
RATE_LIMIT_BURST_SIZE=60
RATE_LIMIT_ENABLED=true
RATE_LIMIT_REQUESTS=20
SERVER_HOST=0.0.0.0
SERVER_PORT=8000

# Database
DATABASE_URL=jdbc:postgresql://postgres:securedb@localhost:5432/postgres?sslmode=disable
PG_MAX_POOL_SIZE=10
PG_MAX_RETRIES=5

# Security Log
SECURITY_LOG_LEVEL=off

# Google Login
GOOGLE_CLIENT_ID=
GOOGLE_SECRET_KEY=

# Redis
REDIS_HOST=
REDIS_PORT=